*.iml
.gradle
/local.properties
/.idea/
/.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
core/*/build/
designsystem/build/
feature/*/build/
lint/build/
*.aab
*.apk
*.ap_
*.dex
keystore.properties

# 本地令牌（绝不提交）
.gh_token_env
